<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blog Uygulaması</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Blog Listesi</a>
            </li>

            <% if (isAuth == 1) { %>             
                
                <li class="nav-item">
                    <a href="/admin/blogs" class="nav-link">Admin Blogları </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link">Admin Kategorileri </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/blog/create" class="nav-link">Blog Ekle </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category/create" class="nav-link">Kategori Ekle </a>
                </li>

            <% } %>

        </ul>

        <ul class="navbar-nav ms-auto">

            <% if (isAuth == 1) { %>   
                <li class="nav-item">
                    <a href="/account/index" class="nav-link"><%= fullname %> </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Çıkış Yap</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Üye Ol</a>
                </li>
            <% } %>               
            

        </ul>




    </div>
</nav>