<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Blog Listesi</a>
            </li>
            <li class="nav-item">
                <a href="/admin/blogs" class="nav-link">Admin Bloglar </a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Admin Kategorileri </a>
            </li>
            <li class="nav-item">
                <a href="/admin/blog/create" class="nav-link">Blog Ekle </a>
            </li>
            <li class="nav-item">
                <a href="/admin/category/create" class="nav-link">Kategori Ekle </a>
            </li>
        </ul>
    </div>
</nav>